name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Version tag and build
        run: |
          DATE=$(date +%Y.%-m.%-d)
          LAST_TAG=$(git describe --tags --abbrev=0)
          if [[ "$LAST_TAG" == *"$DATE"* ]]; then
            TAG_NUMBER=$(echo "$LAST_TAG" | awk -F. '{print $NF}')
            TAG_NUMBER=$((TAG_NUMBER + 1))
          else
            TAG_NUMBER=1
          fi
          NEW_TAG="$DATE.${TAG_NUMBER}"
          git tag "$NEW_TAG"
          git push origin "$NEW_TAG"
          uv version "$NEW_TAG"
          uv build

      - name: Publish
        run: uv publish
